/* CSS da seção cabeçalho da página */

/* mobile */

.cabecalho__container{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    height: 1.5rem;
    padding: 1rem;

  }
  
  .cabecalho__logo {
    align-items: center;
  
    display: flex;
    flex-direction: row;
  
    /* font-size: 1rem; */
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .cabecalho__logo::before {
    align-items: center;
    content: url(../../images/logo-cabecalho.png);
  
    display: flex;
  
    height: 1.5rem;
  
    margin-right: 0.5rem;
  }

  .cabecalho__lista {
    display: flex;
    justify-content: space-between;
  
    list-style: none;
  }

  .cabecalho__item {
    display: none;
  }
  
  .cabecalho__item__contato {
    display: flex;
  }
  
  .cabecalho__item__link {
    font-size: 1rem;
  }

  /* tablete */
  
  @media screen and (min-width:768px){
  
    .cabecalho__container{
      padding: 1rem 2rem;
    }

    .cabecalho__lista{
        display: flex;
        justify-content: space-between;
    }

    .cabecalho__item__contato {
        font-weight: 700;
    }
    
    .cabecalho__item__link {
        font-size: 1rem;
    }
  
  }
  
  /* laptop */
  
  @media screen and (min-width:1024px) {
  
    .cabecalho__container{
        margin: auto;
        max-width: 71rem;
        padding: 2rem 7rem;
  
    }

    .cabecalho__lista {
        display: flex;
        flex-direction: row;
    }

    .cabecalho__item {
        display: flex;
    
        font-weight: 500;
        
        margin-right: 1rem;
    }
  
  }
  
   /* desktop */
  
  @media screen and (min-width:1440px) {
    
    .cabecalho__container{
        max-width: 80rem;
        padding: 2rem 9.5rem;
  
    }

    .cabecalho__item {
        margin-right: 2rem;
    }
  
  }